@model ChatApp.Models.RegisterViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            height: 100vh;
            background-image: url("/Content/img/bg-01.jpg");
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: round;
        }

        .form-body {
            padding: 20px;
            background: #fff;
            width: 40%;
            border-radius: 10px
        }
    </style>
</head>
<body>

    <div class="form-body shadow-lg">
        <h2 class="text-center">Login</h2>
        <form action="~/Account/Register" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" required />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="Email" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" required />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="ConfirmPassword" required />
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div>
                <p>Already a user? <a href="~/Account/Login">Login</a> here</p>
            </div>
            <div class="text-right">
                <input type="submit" class="btn btn bg-info text-white" value="Register" />
            </div>
        </form>
    </div>


    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>